.DS_Store
.idea

Thumbs.db
/build
target

dist

cmake-build-debug
cmake-build-release


.svn

/minijvm/java/target/
/desktop/jni_gui/java/target/
/desktop/awtk
/desktop/awtk_gui
/binary/tmp
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
